accelerate==0.28.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==21.2.0
cached-property==1.5.2
coverage==6.5.0
huggingface-hub==0.21.4
ipykernel==6.29.3
ipython==8.22.2
Jinja2==3.0.3
nltk==3.8.1
numpy==1.26.4
openai==1.26.0
pandas==2.2.1
parso==0.8.3
psutil==5.9.8
pytest==8.2.1
spotflow==1.1.0
torch==2.2.1
tqdm==4.66.2
transformers==4.39.1
